/*
* Stock exchange block helper css file.
*/

div#stock-exchange-block {
  color: #000;
  font-family: Verdana, Arial, Helvetica, San-serif;
  font-size: x-small;
  text-align: left;
  width: 760px;
  margin: 0 auto;
  padding: 0;
}


div#ticker-wrapper {
  background: #c3c1c1 none repeat-x scroll left top;
  width: 740px;
  margin: 20px 0 3px;
}

div#ticker-wrapper h3 {
  font-size: xx-small;
  font-style: italic;
  padding: 0;
  margin: 0 10px 0;
  line-height: 14px;
}

.container {
  background: #fff none;
  border: 1px solid #000;
  height: 30px;
  margin: 0 auto;
  width: 735px;
}

.container .wrap {
  width: 720px;
  left: 10px;
  top: 10px;
  overflow: hidden;
  position: relative;
  line-height: normal;
  font-size-adjust: none;
}

div.stockTicker {
  font-family: Verdana, Arial, Helvetica, San-serif;
  font-size: x-small;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 10000000px !important;
}

div.stockTicker span {
  margin: 0 10px 0;
}

div.stockTicker span.up {
  color: green;
  padding-left: 2px;
}

div.stockTicker span.down {
  color: red;
  margin: 0;
  padding-left: 10px;
}

div.stockTicker span.eq {
  margin: 0;
  padding-left: 10px;
  color: #000088;
}

div.stockTicker span.quote {
  margin: 0;
  font-weight: bold;
  padding-left: 10px;
}